.space {
	width: 90px;
	height: 210px;
	border-radius: 8px;
	background-color: rgb(145, 213, 255, 0.8);
	border: 3px solid #1890ff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #1890ff;
	font-size: 36px;
}
